
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.7s, color 0.7s;
}




button {
    padding: 15px 50px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Botão Dark Mode */
.btn-dark {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.btn-dark:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

/* Botão Light Mode */
.btn-white {
    background-color: #f0f0f0;
    color: #1a1a1a;
}

.btn-white:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0,0,0,0.4);
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode .container {
    background-color: #1e1e1e;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
